{% extends 'base.html' %}

{% block content %}
<main class="main">
    <h1>{% block title %} Your config table {% endblock %}</h1>
  <div class="container">
    <div class="card">
      <h5 class="header">Operating System</h5>
      <p class="value"> {{systemdata.system}}</p>
    </div>
    <div class="card">
      <h5 class="header">Architecture</h5>
      <p class="value"> {{systemdata.architecture}}</p>
    </div>
    <div class="card">
      <h5 class="header">CPU</h5>
      <p class="value"> {{systemdata.cpu}}</p>
    </div>
    <div class="card">
      <h5 class="header">Hostname</h5>
      <p class="value"> {{systemdata.host_name}}</p>
    </div>
    <div class="card">
      <h5 class="header">IP Address</h5>
      <p class="value"> {{systemdata.ip_address}}</p>
    </div>
    <div class="card">
      <h5 class="header">Username</h5>
      <p class="value"> {{systemdata.user}}</p>
    </div>
  </div>
</main>
    
{% endblock %}